
.hero {
	display: flex;
	height: 88.5vh;
	align-items: center;
background: url("../../assets/images/online-fashion-shopping-with-laptop.jpg") no-repeat center;
background-size: cover;}
.hero-img img{
  display: none;
}
.hero-text{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-top:-150px;
  margin-left: 60%;
  word-wrap:break-word;
}
